*{
    box-sizing: border-box;
}

body{
    font: 12px/1.2 "Trebuchet MS", normal;
    color: #525252;
    margin: 0;
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a{
    color: #ed1a2d;
    font-size: 13px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    text-decoration: underline;
}

.header{
    padding: 0;
    margin: 0;
    background: linear-gradient(180deg, rgba(237,26,45,1) 0%, rgb(0, 0, 0) 100%);
}

.container{
    margin: 0 auto;
    width: 903px;
}

.header .container{
    line-height: 0;
}

.nav{
    border-top: 1px solid #fff;
    background: #000;
}

.nav_list{
    display: flex;
    padding-left: 281px;
    
}

.nav_list-item{
    font-size: 11px;
    line-height: 2.9;
    font-weight: bold;
    position: relative;
}

.nav_link{
    padding: 0 8px;
    text-decoration: none;
    color: #fff;
    font-size: 11px;
    font-weight: 700;
    list-style-type: none;
    display: inline-block;
}


.nav_link:hover{
    background-color: #fff;
    color: #000;
    transition: ease .5s;
}

.nav_inner{
    display: none;
    /* display: inline-block; */
    position: absolute;
    background-color: #928564;
    left: 0;
    top: 33px;
    width: 173px;
    padding: 9px 0px 13px 0px;
}

.nav_inner-item{
    width: 100%;
    height: 21px;
    /* padding: 0 35px 0 14px; */
}

.inner{
    font-size: 12px;
    line-height: 1.75;
    padding-left: 14px;
    color: #fff;
    display: block;
}

.nav_inner-item:hover{
    background-color: #000;
    transition: ease .5s;
}

.nav_inner::after{
    content: '';
    /* display: none; */
}

.float{
    float: left;
}

.left_column{
    width: 265px;
    padding-top: 50px;
}

.left_column_container{
    width: 190px;
    margin: 0 auto;
}

.left_column_links{
    text-align: center;
    padding: 6px;
    border: 1px solid #e4e4e4;
    border-radius: 2%;
}

.left_links-item{
    
    margin: 0 0 6px 0;
}

.left_links-item:last-child{
    margin: 0;
}

.left_link{
    background-color: #928564;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    display: inline-block;
    width: 100%;
    text-decoration: none;
    padding: 8px 0;
}

.left_link:hover{
    background-color: #ed1a2d;
    transition: ease .5s;
}

.image_link{
    text-decoration: none;
    display: block;
    width: 140px;
    margin: 30px auto;
}

.image_link-item{
    margin: 0;
    padding: 0;
    vertical-align: top;
    width: 100%;
}

.events{
    border-top: 4px solid #dfdfdf;
    border-bottom: 4px solid #dfdfdf;
    padding: 20px 5px 20px 15px;
}

.events_title{
    margin: 0 0 19px 2px;
    color: #000;
    font-size: 18px;
    font-weight: 400;
}

.events_list-item{
    margin-bottom: 10px;
}

.events_list-item:last-child{
    margin: 0;
}

.event_date{
    margin: 0;
    color: #525252;
    font-size: 10px;
    font-style: italic;
}

.right_column{
    padding: 19px 5px 26px 11px;
    max-width: 638px;
}

.right_column-img{
    vertical-align: top;
    margin: 0;
    padding: 0;
    border: 10px solid #dfdfdf;
}

.right_column-content{
    padding: 20px 0 0 19px;
    margin: 0;
}

.title{
    font-size: 22px;
    color: #ed1a2d;
    margin: 0;
}

.box{
    overflow: hidden;
}

.content_nav{

}

.content_nav-list{
    display: inline;
    color: #928564;
    font-weight: 600;
    font-size: 10px;
}

.content_nav-list::after{
    content: '>';
    color: #928564;
}

.content_nav-list:last-child::after{
    display: none;
}

.content_nav-list_item{
    display: inline-block;
    color: #928564;
    font-weight: 600;
    font-size: 10px;
    text-decoration: none;
}


.text:last-child{
    margin-bottom: 0;
}

.footer{
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, rgb(0,0,0) 0%, rgba(237,26,45,1) 100%);
}

.copyright{
    text-align: center;
    margin: 0;
    padding: 32px 0 23px 0;
    font-size: 10px;
    color: #dfdfdf;
}